{% extends "layout.html" %}

{% block content %}
    {% set last_date = '' %}

    <ul class="list-group">
        {% for d in docs %}
            {% set item_css_class = '' %}
            {% if d.source.enriched.url.docSentiment.type == 'positive' %}
                {% set item_css_class = 'list-group-item-success' %}
            {% endif %}
            {% if d.source.enriched.url.docSentiment.type == 'negative' %}
                {% set item_css_class = 'list-group-item-danger' %}
            {% endif %}

            {% set cur_date = d.timestamp|date("m/d/Y") %}

            {% if cur_date != last_date%}
                <li class="list-group-item list-group-item-info">
                    {{ cur_date }}
                </li>
            {% endif %}

            <li class="list-group-item {{ item_css_class }}">
                <a href="{{ d.source.enriched.url.url }}">{{ d.source.enriched.url.title }} </a>
                <span class="badge">{{ d.source.enriched.url.docSentiment.score | round(2, 'ceil')  }}</span>
                <br/>
                {% for c in d.source.enriched.url.concepts %}
                    <span class="label label-success">{{ c.text  }}</span>
                {% endfor %}
             </li>

            {% set last_date = cur_date  %}
        {% endfor %}
    </ul>

{% endblock %}
