{% extends "layout.html" %}
{% block content %}

    {% set last_date = '' %}

<div class="page-header">
    <h1>{{ entityname }} in the News <small>in the last 30 days</small></h1>
</div>
<div class="row">
    <div class="col-lg-8">
        <a id="news"></a>
        <ul class="list-group">
            {% for d in docs %}
                {% set item_css_class = 'disabled' %}
                {% set item_icon = '' %}

                {% if d.extra.entity != null %}
                    {% set item_css_class = 'list-group-item-info' %}
                    {% set item_icon = 'glyphicon glyphicon-hand-right' %}

                    {% if d.extra.entity.sentiment.type == 'positive' %}
                        {% set item_css_class = 'list-group-item-success' %}
                        {% set item_icon = 'glyphicon glyphicon-thumbs-up' %}
                    {% elseif d.extra.entity.sentiment.type == 'negative' %}
                        {% set item_css_class = 'list-group-item-danger' %}
                        {% set item_icon = 'glyphicon glyphicon-thumbs-down' %}
                    {% endif %}
                {% endif %}

                {% set cur_date = d.timestamp|date("m/d/Y") %}


                {% if cur_date != last_date%}
                    <li class="list-group-item ">
                        <div class="row">
                            <div class="">
                                <h2>{{ cur_date }}</h2>
                            </div>
                        </div>
                    </li>
                {% endif %}

                <li class="list-group-item {{ item_css_class }}">
                    <div class="row">
                        <div class="">
                            <span  class="h4 pull-left">{{ d.extra.domain }}</span>
                            {% if d.extra.entity != null %}
                                <div class="pull-right">
                                    <span class="label label-primary  " title="Sentiment of this article towards {{ entityname }}">{{ d.extra.entity.sentiment.score | round(2, 'ceil')  }}</span>
                                    <span class="{{ item_icon }} " aria-hidden="true"></span>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <a href="{{ d.source.enriched.url.url }}">{{ d.source.enriched.url.title }} </a>
                        </div>
                    </div>


                    <div class="row">
                        <div class="">

                        {% for c in d.source.enriched.url.concepts %}
                            <span class="label label-success"  title="Relevance of this concept in this article: {{ c.relevance | round(2, 'ceil') }}">{{ c.text  }}</span>
                        {% endfor %}
                        </div>
                    </div>

                    {% if d.extra.entity != null %}
                        <div class="row">
                            <div class="h5">
                                <div class="pull-left"> relevance: <span class="label  label-default" title="Relevance of {{ entityname }} in this article">{{ d.extra.entity.relevance | round(2, 'ceil')  }}</span></div>
                                <div class="pull-left">&nbsp; count: <span class="label  label-default" title="Occurences of {{ entityname }} in this article">{{ d.extra.entity.count  }}</span></div>
                            </div>
                        </div>
                    {% endif %}
                 </li>

                {% set last_date = cur_date  %}
            {% endfor %}
        </ul>
    </div>

    <div class="col-lg-4">
        <a id="concepts"></a>
        <div class="h3">
            Top 20 Topics <small>by occurence</small>
        </div>
        <ul class="list-group">
        {% for c in concepts %}
            <li class="list-group-item ">
                <span class="label label-success" title="{{ c.typeHierarchy }}">{{ c.text }}</span>
                <span class="label label-default" title="Avg Relevance: {{ (c.relevance/c.count)  | round(2, 'ceil') }}">{{ c.count }}</span>

            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
